.container {
  color: var(--red);
  width: clamp(350px, 50%, 600px);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;
  border-left: 4px solid var(--red);
  border-right: 4px solid var(--red);

  p {
    text-align: center;
    margin-top: 0;
  }
}

.question {
  font-weight: bold;
}

.answerButton {
  text-transform: none;
  padding: 0.2rem 0.5rem;
}
