.container {
  color: var(--red);
  width: clamp(350px, 50%, 600px);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #ffffff;

  p {
    text-align: center;
    margin-top: 0;
  }
}

.question {
  font-weight: bold;
}
