:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #05153b;
  background-color: #f0f0f0;
  --yellow: #ffed00;
  --brown: #3f1e10;
  --red: #e62c1c;
  --titleFont: "Montserrat", sans-serif;
  --mainFont: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(230, 44, 28, 0.1),
    rgba(63, 30, 16, 0.15)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--mainFont);
  color: var(--brown);
}

h1 {
  font-family: var(--titleFont);
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--red);
  color: #ffffff;
  cursor: pointer;
  transition: background-color ease 0.3s;
}
button:hover {
  background-color: var(--brown);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
